@page "/counter/{InitialCount:int?}"
@page "/counter2"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>Initial count=@InitialCount</p>



@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        currentCount = InitialCount;
    }

    // Make this int and initialize to 0 to avoid CS8618
    [Parameter]
    public int InitialCount { get; set; }

    // Add IncrementAmount parameter so IncrementCount can use it
    [Parameter]
    public int IncrementAmount { get; set; } = 1;



    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}